/* styles.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Responsive styling */
@media (max-width: 768px) {
  .main-content {
    justify-content: flex-start;
  }
}
body{
  /*background-color: #41495a;*/
  background-color: #283044;
}
